

.App {
  text-align: center;
}
.background {
  width : 80vw;
  height : 90vh;
  background-image : linear-gradient(to bottom, rgba(250, 145, 97, 0.5), rgba(247, 59, 28, 0.49));
  margin : 5vh auto auto auto;
  border-radius : 20px;
  overflow-y: hidden;
}

.title {
  margin : 15px auto 25px auto;
}
.title h2 {
  text-align: center;
  color: #ffffff;
}

.choices {
  display : grid;
  grid-template-columns : 30px 30px;
  grid-gap : 20px;
  justify-content: center;
  margin : 35px auto 25px auto;
  position : absolute;
  bottom : 60px;
  left:0;
  right:0;
}

.buttons {
  font-size:23px;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  border-radius:  100%;
  border : 1px solid rgb(202, 122, 82);
  grid-row:1;
  text-align: center;
  margin:auto;
  box-shadow: 2px 2px 3px rgb(202, 122, 82);
}
.image {
  width : auto;
  height : 220px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.name, .skills {
  text-align:center;
  width : 140px;
  margin:10px auto 15px auto;
  height:max-content;
  font-weight:400;
}

.card {
  position:absolute;
  width : 180px;
  height : 350px;
  border-radius : 10px;
  background-color : white;
  box-shadow: 3px 4px 4px rgb(202, 122, 82);
  overflow-y: hidden;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}
@media only screen and (max-height: 615px) {
  body {
    background-image : linear-gradient(to bottom, rgba(250, 145, 97, 0.5), rgba(247, 59, 28, 0.49));
    border : 5px solid white;
    border-radius : 20px;
  }
  .background {
    background-image : none;
  }
  .card {
    width : 150px;
    height : 320px;
  }
  .image {
    height : 190px;
  }
  .skills {
   width : 120px;
   font-size : 80%;
 }
 .choices {
   grid-gap : 65vw;
 }
}

@media only screen and (max-height: 500px) {
  .card {
    width : 130px;
    height : 300px;
  }
  .image {
    height : 160px;
  }
  .skills {
   width : 100px;
   font-size : 70%;
 }
}
